<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="OCS_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
    <userSettings>
        <OCS_GUI.Properties.Settings>
            <setting name="login_url" serializeAs="String">
                <value>https://am.cht.com.tw/NIASLogin/faces/CHTOTPLogin?_afrLoop=36550346022933170&amp;_afrWindowMode=0&amp;authn_try_count=0&amp;challenge_url=https%3A%2F%2Fam.cht.com.tw%2FNIASLogin%2Ffaces%2FCHTOTPLogin&amp;contextType=external&amp;locale=zh_TW&amp;password=sercure_string&amp;request_id=987101707708033057&amp;resource_url=https%253A%252F%252Fam.cht.com.tw%252FNIASLogin%252Ffaces%252FCHTOTP%253Forigin_url%253Dhttps%25253A%252F%252Fnmoss.cht.com.tw%252FLogin.aspx&amp;username=string&amp;_adf.ctrl-state=lhlo1qfxz_43</value>
            </setting>
            <setting name="GET_OTP" serializeAs="String">
                <value>https://am.cht.com.tw/NIASLogin/faces/CHTOTP?origin_url=https%3A%2F%2Fnmoss.cht.com.tw%2FLogin.aspx</value>
            </setting>
            <setting name="POST_OTP" serializeAs="String">
                <value>/NIASLogin/faces/CHTOTPLogin?_adf.ctrl-state=</value>
            </setting>
            <setting name="auth_cred_submit" serializeAs="String">
                <value>https://am.cht.com.tw/oam/server/auth_cred_submit</value>
            </setting>
        </OCS_GUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
